# Файлы, которые создаются в процессе сборки или работы проекта
__pycache__/
*.pyc
*.pyo
*.pyd

# Среда виртуального окружения
venv/
env/

# Логи и файлы отчетов
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

# Файлы настроек
*.cfg
*.conf

# Изображения
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico

# Артефакты работы IDE и редакторов кода
.idea/
.vscode/
*.swp
*.swo

# Отчеты о покрытии кода
htmlcov/

# Файлы настроек локальной среды разработки
.env
